@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 60, 54, 51;
  --background-rgb: 238, 237, 235;
  --nav-rgb: 254, 250, 224;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 238, 237, 235;
    --background-rgb: 60, 54, 51;
    --nav-rgb: 169, 179, 136;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.bg-nav {
  background: rgb(var(--nav-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
